
.idea/CppEdu.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
23.10.22/.idea/.name
23.10.22/.idea/23.10.22.iml
23.10.22/.idea/misc.xml
23.10.22/.idea/modules.xml
23.10.22/.idea/vcs.xml
23.10.22/.idea
30.10.22/.idea
30.10.22/cmake-build-debug
